.postsBlock {
    margin-left: 100px;
    padding: 10px;
    background: white;
    border-radius: 15px;
    margin-top: 55px;
    margin-bottom: 55px;
    width: 425px;
}
.posts {
    margin-top: 20px;
}
.btn {
    background: #1c1c1c;
    color: white;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
}