.nav {
    grid-area: n;
    /*background-color: #ebebeb;*/
    padding: 20px;
}
.item {
    margin-top: 8px;
}
.item a {
    color: #1c1c1c;
    text-decoration: none;
}
.item a:hover {
    opacity: .75;
}
.item a.activeLink {
    color: #1c1c1c;
    font-weight: bold;
}
.friends {
    margin-top: 50px;
}